<a href="https://colab.research.google.com/github/queenakki/queenakki/blob/trial/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Amazon data set**

In [23]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [24]:
import numpy as np
import pandas as pd

In [25]:
stock=pd.read_csv("/content/drive/MyDrive/AMZN.csv")
stock.head()

        Date      Open      High       Low     Close  Adj Close      Volume
0   6/1/1997  0.075521  0.085417  0.068750  0.077083   0.077083  1063272000
1   7/1/1997  0.077083  0.128646  0.075521  0.119792   0.119792  2172288000
2   8/1/1997  0.117188  0.120833  0.096875  0.116927   0.116927   638136000
3   9/1/1997  0.117188  0.240625  0.115625  0.216927   0.216927  2157240000
4  10/1/1997  0.221875  0.275000  0.176042  0.254167   0.254167  2103744000

In [26]:
print(stock.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       308 non-null    object
 1   Open       308 non-null    float64
 2   High       308 non-null    float64
 3   Low        308 non-null    float64
 4   Close      308 non-null    float64
 5   Adj Close  308 non-null    float64
 6   Volume     308 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 17.0+ KB
None

In [29]:
stock.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [14]:
print(stock.describe())

             Open        High         Low       Close   Adj Close  \
count  308.000000  308.000000  308.000000  308.000000  308.000000
mean    31.057995   33.362429   28.888183   31.286233   31.286233
std     47.925527   51.219584   44.482617   47.843154   47.843154
min      0.075521    0.085417    0.068750    0.077083    0.077083
25%      1.999625    2.248375    1.841125    2.011000    2.011000
50%      6.203750    6.817250    5.876250    6.271750    6.271750
75%     37.689374   38.842501   36.079000   37.631500   37.631500
max    177.250000  188.654007  165.348999  175.353500  175.353500

             Volume
count  3.080000e+02
mean   2.986218e+09
std    2.100106e+09
min    7.209641e+07
25%    1.612910e+09
50%    2.502050e+09
75%    3.525614e+09
max    1.448436e+10

In [15]:
timefmt = "%d/%m/%y %S:%M:%H" 
stock['Date'] = pd.to_datetime(stock['Date'], format = timefmt, errors='coerce')

In [16]:
stock.head()

  Date      Open      High       Low     Close  Adj Close      Volume
0  NaT  0.075521  0.085417  0.068750  0.077083   0.077083  1063272000
1  NaT  0.077083  0.128646  0.075521  0.119792   0.119792  2172288000
2  NaT  0.117188  0.120833  0.096875  0.116927   0.116927   638136000
3  NaT  0.117188  0.240625  0.115625  0.216927   0.216927  2157240000
4  NaT  0.221875  0.275000  0.176042  0.254167   0.254167  2103744000

In [17]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(stock, train_size = 0.7, test_size = 0.3, random_state = 100)

In [31]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Applying scaler() to all the columns except the 'yes-no' and 'dummy' variables
num_vars = [ 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
df_train[num_vars] = scaler.fit_transform(df_train[num_vars])
df_test[num_vars] = scaler.fit_transform(df_test[num_vars])

df_train

    Date      Open      High       Low     Close  Adj Close    Volume
110  NaT  0.007165  0.007764  0.007377  0.008355   0.008355  0.235608
52   NaT  0.001259  0.002196  0.001251  0.001551   0.001551  0.251806
26   NaT  0.013642  0.017520  0.011987  0.017300   0.017300  0.689765
237  NaT  0.243653  0.235628  0.251732  0.252458   0.252458  0.086479
248  NaT  0.413029  0.404890  0.382549  0.431007   0.431007  0.203197
..   ...       ...       ...       ...       ...        ...       ...
66   NaT  0.006478  0.006176  0.005159  0.004949   0.004949  0.230193
53   NaT  0.001594  0.002835  0.001581  0.002789   0.002789  0.465457
79   NaT  0.014664  0.014878  0.014286  0.013938   0.013938  0.324574
280  NaT  0.917479  0.926594  0.912881  0.865664   0.865664  0.170550
8    NaT  0.000984  0.001306  0.001027  0.001391   0.001391  0.192349

[215 rows x 7 columns]

In [32]:
y_train = df_train.pop('Volume')
X_train = df_train
y_test = df_test.pop('Volume')
X_test = df_test

In [33]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

TypeError: ignored